html, body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    color: $dark;
}

.container {
    width: 100%;
    max-width: 1390px;
    margin: 0 auto;
    position: relative;
    padding: 0 25px;
    box-sizing: border-box;
    @include breakpoint(max, lg) {
        padding: 0 20px;
    }
    @include breakpoint(max, sm) {
        padding: 0 15px;
    }
}

:focus {outline:none;}
::-moz-focus-inner {border:0;}

input[type="text"] {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    border-radius: 7px;
    border: 1px solid #B9B9B9;
    width: 100%;
    padding: 14px 22px;
    line-height: 25px;
    outline: none;
    box-sizing: border-box;
    &::placeholder {
        color: #888888;
        opacity: 1;
    }
    &:focus {
        box-shadow: 0 0 0 3px rgba(171, 150, 255, 0.24);
    }
}

.checkbox {
    display: block;
    position: relative;
    text-align: left;
    cursor: pointer;
    font-size: 12px;
    font-weight: 500;
    user-select: none;
    color: #888888;
    padding-left: 33px;
    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
        &:checked {
            & ~ .checkmark {
                background-color: $violet;
                border-color: $violet;
                &::after {
                    display: block;
                }
            }
        }
    }
    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 16px;
        width: 16px;
        border: 1px solid #888888;
        &::after {
            content: '';
            position: absolute;
            display: none;
            left: 5px;
            top: 1px;
            width: 5px;
            height: 10px;
            border: solid #FFF;
            border-width: 0 2px 2px 0;
            transform: rotate(45deg);

        }
    }
}

.invest-button {
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.16);
    border-radius: 21px;
    background: $dark;
    color: #FFF;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 42px;
    padding: 0 30px;
    cursor: pointer;
    transition: transform 250ms linear;
    display: inline-block;
    flex-shrink: 0;
    user-select: none;
    &:hover {
        transform: translateY(-2px);
    }
}

main.subpage {
    padding-top: 80px;
    padding-bottom: 120px;
    h1 {
        margin-bottom: 80px;
    }
    h2 {
        margin-top: 50px;
    }
    p {
        font-size: 16px;
        line-height: 28px;
    }
}

#submit-project-link {
    text-decoration: none;
    color: $dark;
    background: $yellow;
    height: 55px;
    display: inline-flex;
    align-items: center;
    padding: 0 40px;
    border-radius: 50px;
    text-transform: uppercase;
    font-weight: 700;
    margin-top: auto;
    margin: 20px 0;
    font-size: 20px;
}
