html, body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    color: $dark;
}

.container {
    width: 100%;
    max-width: 1390px;
    margin: 0 auto;
    position: relative;
    padding: 0 25px;
    box-sizing: border-box;
    @include breakpoint(max, lg) {
        padding: 0 20px;
    }
    @include breakpoint(max, sm) {
        padding: 0 15px;
    }
}
