footer#page-footer {
    background: #202020;
    height: 153px;
    .container {
        display: flex;
        align-items: center;
        height: 100%;
    }
    .logo {
        height: 83px;
        width: 83px;
        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
    nav#footer-menu {
        margin-left: 20px;
        .menu-item {
            a {
                font-size: 12px;
                font-weight: 400;
                color: #FFF;
                text-decoration: none;
                user-select: none;
                padding: 20px;
            }
        }
    }
    .copyrights {
        font-size: 12px;
        font-weight: 400;
        color: #FFF;
        margin-left: auto;
        opacity: 0.65;
    }
    @include breakpoint(max, lg) {
        padding-bottom: 25px;
        height: auto;
        .container {
            flex-flow: column;
        }
        .logo {
            margin-top: -35px;
            border: 6px solid #202020;
            margin-bottom: 20px;
        }
        nav#footer-menu {
            display: flex;
            flex-flow: column;
            text-align: center;
            margin-left: 0;
            margin-bottom: 30px;
            .menu-item {
                a {
                    display: block;
                    padding: 10px;
                }
            }
        }
        .copyrights {
            margin: auto;
        }
    }
}
.popup-open {
    overflow: hidden;
    .popup-container {
        display: flex;
    }
}
.popup-container {
    background: rgba(0, 0, 0, 0.56);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    align-items: center;
    justify-content: center;
    display: none;
    .popup-wrapper {
        max-height: 100%;
        overflow: auto;
        .popup {
            box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
            background: #FFF;
            border-radius: 12px;
            overflow: hidden;
            .header {
                height: 82px;
                background: $yellow;
                display: flex;
                align-items: center;
                span.icon-close {
                    margin-left: auto;
                    padding: 20px;
                    font-size: 19px;
                    cursor: pointer;
                    transition: transform 150ms linear;
                    &:hover {
                        transform: rotate(90deg);
                    }
                }
            }
            &.invest-popup {
                max-width: 662px;
                width: 100%;
                .content {
                    padding: 40px 55px;
                    text-align: center;
                    .title {
                        font-size: 26px;
                        line-height: 30px;
                        margin-bottom: 20px;
                        font-weight: 300;
                        &.primary {
                            text-transform: uppercase;
                            font-weight: 700;
                            margin-bottom: 10px;
                        }
                    }
                    .description {
                        font-size: 14px;
                        line-height: 22px;
                        font-weight: 300;
                        margin-bottom: 30px;
                    }
                    .input-field {
                        margin-bottom: 10px;
                    }
                    .totals {
                        margin-top: 30px;
                        margin-bottom: 50px;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        .amount {
                            display: flex;
                            align-items: center;
                            span {
                                font-size: 18px;
                                font-weight: 500;
                                color: #463E65;
                            }
                            strong {
                                font-size: 24px;
                                color: $violet;
                                font-weight: 600;
                                margin-left: 10px;
                            }
                        }
                    }
                }
                @include breakpoint(max, 662px) {
                    border-radius: 0;
                }
                @include breakpoint(max, 640px) {
                    .content {
                        padding: 40px 20px;
                    }
                }
                @include breakpoint(max, sm) {
                    .content {
                        .totals {
                            flex-flow: column;
                            .terms {
                                align-self: flex-start;
                                margin-bottom: 35px;
                            }
                            .amount {
                                align-self: flex-end;
                            }
                        }
                    }
                }
            }
        }
    }
}
