main#home {
    padding-top: 110px;
    section.project-carousel {
        margin-bottom: 140px;
        overflow: hidden;
        .container {
            max-width: 100%;
        }
    }
    section.home-banners {
        padding-bottom: 120px;
        .banners {
            display: flex;
            margin: 0 -8px;
            .banner {
                padding: 0 8px;
                .image {
                    img {
                        width: 100%;
                        height: auto;
                    }
                }
                p {
                    text-align: center;
                    font-weight: 700;
                }
            }
        }
        @include breakpoint(max, md) {
            padding-bottom: 70px;
            .banners {
                flex-wrap: wrap;
                .banner {
                    flex-basis: 100%;
                    padding-bottom: 30px;
                }
            }
        }
    }
    section.cta-boxes {
        margin-bottom: 74px;
        .cta-boxes {
            display: flex;
            margin: 0 -8px;
            .cta-box {
                color: #FFF;
                margin: 0 8px;
                padding: 25px;
                border-radius: 8px;
                box-shadow: 0px 4px 8px rgba(0,0,0,0.15);
                position: relative;
                overflow: hidden;
                flex: 1;
                .content {
                    display: flex;
                    flex-flow: column;
                    align-items: center;
                    position: relative;
                    z-index: 1;
                    height: 100%;
                    .title {
                        text-transform: uppercase;
                        font-size: 24px;
                        font-weight: 700;
                        line-height: 29px;
                        margin-bottom: 18px;
                    }
                    .text {
                        font-size: 15px;
                        font-weight: 300;
                        text-align: center;
                        line-height: 22px;
                        margin-bottom: 28px;
                        max-width: 460px;
                    }
                    a.button {
                        display: inline-block;
                        text-decoration: none;
                        color: #FFF;
                        background: $dark;
                        height: 42px;
                        display: flex;
                        align-items: center;
                        padding: 0 30px;
                        border-radius: 50px;
                        text-transform: uppercase;
                        font-weight: 700;
                        margin-top: auto;
                    }
                }
                &.green {
                    background: $green;
                    .bg-icon {
                        display: none;
                        background-color: #92DB9B;
                        mask: url('/img/megaphone.svg');
                        width: 200px;
                        height: 200px;
                        position: absolute;
                        top: -25px;
                        left: -25px;
                    }
                }
                &.blue {
                    background: $blue;
                    .bg-icon {
                        display: none;
                        position: absolute;
                        width: 153px;
                        height: 153px;
                        user-select: none;
                        img {
                            width: 100%;
                            height: 100%;
                            -webkit-user-drag: none;
                        }
                        &.first {
                            left: 28px;
                            top: -53px;
                        }
                        &.second {
                            right: -30px;
                            bottom: 10px;
                        }
                    }
                }
            }
            @include breakpoint(max, lg) {
                flex-flow: column;
                .cta-box {
                    margin-bottom: 16px;
                }
            }
        }
    }
    @include breakpoint(max, md) {
        padding-top: 70px;
        section.project-carousel {
            margin-bottom: 65px;
        }
    }
}
