@import '@pqina/flip/dist/flip.min.css';

main#project {
    overflow: hidden;
    section.project-summary {
        padding-top: 159px;
        margin-bottom: 60px;
        .content {
            display: flex;
            .gallery {
                flex: 0 0 662px;
                margin-right: 16px;
                overflow: hidden;
                .image-container {
                    position: relative;
                    border-radius: 12px;
                    overflow: hidden;
                    img {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        object-position: center;
                    }
                }
                .current-image {
                    border-radius: 12px;
                    .image-container {
                        height: 471px;
                    }
                }
                .thumbnails {
                    margin-top: 41px;
                    .image-container {
                        height: 82px;
                    }
                }
                .author-money-mobile {
                    display: none;
                }
                @include breakpoint(max, md) {
                    .thumbnails {
                        margin-top: 20px;
                    }
                }
            }
            .summary {
                flex: 1;
                border-radius: 12px;
                box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
                background: #FFF;
                padding: 25px 30px 45px 30px;
                margin-bottom: 41px;
                height: 471px;
                display: flex;
                flex-flow: column;
                box-sizing: border-box;
                position: relative;
                z-index: 2;
                .header {
                    display: flex;
                    align-items: flex-start;
                    justify-content: space-between;
                    margin-bottom: 41px;
                    h1 {
                        font-size: 26px;
                        font-weight: 700;
                        line-height: 30px;
                        text-transform: uppercase;
                        margin: 0;
                        padding-right: 25px;
                    }
                    .time-left {
                        #project-count-down {
                            .tick-groups {
                                display: flex;
                                .tick-group {
                                    margin-right: 10px;
                                    .tick-flip {
                                        font-size: 32px;
                                        line-height: 52px;
                                        text-indent: initial;
                                        letter-spacing: initial;
                                        min-width: 45px;
                                        padding: 0 7px;
                                        box-sizing: content-box;
                                        border-radius: 5px;
                                        .tick-flip-panel {
                                            background: #EAEAEA;
                                            color: $dark;
                                            font-weight: 700;
                                        }
                                        .tick-flip-card {
                                            .tick-flip-panel-back::after {
                                                background-image: linear-gradient(180deg,rgba(138,138,138,.3) 1px,rgba(138,138,138,.1) 0,transparent 30%);
                                            }
                                        }
                                    }
                                    .tick-label {
                                        font-size: 11px;
                                        text-align: center;
                                        text-transform: uppercase;
                                        font-weight: 500;
                                        margin-top: 6px;
                                    }
                                    &:last-child {
                                        margin-right: 0;
                                    }
                                }
                            }
                        }
                    }
                }
                .short-desc {
                    font-size: 14px;
                    font-weight: 300;
                    line-height: 22px;
                    flex-grow: 1;
                }
                .bottom-part {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    font-size: 16px;
                    font-weight: 300;
                    padding-top: 25px;
                    strong {
                        font-weight: 700;
                    }
                    .author {
            
                    }
                    .money {
                        span {
                            display: flex;
                            align-items: center;
                            strong {
                                font-size: 28px;
                                margin-left: 20px;
                            }
                        }
                    }
                }
                #support-project-cta {
                    position: absolute;
                    width: 100%;
                    left: 0;
                    bottom: -124px;
                    background: $yellow;
                    font-size: 26px;
                    font-weight: 700;
                    text-transform: uppercase;
                    height: 82px;
                    display: flex;
                    align-items: center;
                    padding: 0 30px;
                    border-radius: 12px;
                    user-select: none;
                    cursor: pointer;
                    box-sizing: border-box;
                    margin-left: auto;
                    margin-right: -8px;
                    overflow: hidden;
                    line-height: 28px;
                    max-width: 700px;
                    .text {
                        z-index: 3;
                    }
                    .bg-icon {
                        mask: url('/img/eur-symbol.svg');
                        mask-repeat: no-repeat;
                        width: 80px;
                        height: 76px;
                        position: absolute;
                        z-index: 2;
                        &.first {
                            background-color: #D9C552;
                            left: 400px;
                        }
                        &.second {
                            background-color: #F0DC66;
                            left: 490px;
                        }
                    }
                    &::after {
                        content: '';
                        display: block;
                        background: linear-gradient(90deg, darken($yellow, 15%), $yellow);
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        top: 0;
                        left: 0;
                        opacity: 0;
                        transition: opacity 250ms linear;
                    }
                    &:hover {
                        &::after {
                            opacity: 1;
                        }
                    }
                    @include breakpoint(max, sm) {
                        font-size: 24px;
                        padding: 20px;
                        height: auto;
                        bottom: -14px !important;
                        .text {
                            max-width: 175px;
                        }
                        .bg-icon {
                            &.first {
                                left: 200px;
                            }
                            &.second {
                                left: 290px;
                            }
                        }
                    }
                }
                @include breakpoint(max, 1336px) {
                    .header {
                        flex-flow: column;
                        h1 {
                            margin-bottom: 21px;
                        }
                    }
                }
                @include breakpoint(max, 1240px) {
                    height: 593px;
                    .bottom-part {
                        flex-flow: column;
                        align-items: flex-start;
                        .author {
                            order: 2;
                        }
                    }
                }
                @include breakpoint(max, sm) {
                    padding: 25px 20px 45px 20px;
                }
                @include breakpoint(max, 360px) {
                    .header {
                        .time-left {
                            #project-count-down {
                                .tick-groups {
                                    .tick-group {
                                        margin-right: 5px;
                                        .tick-flip {
                                            font-size: 28px;
                                            line-height: 47px;
                                            min-width: 42px;
                                            padding: 0 7px;
    
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            @include breakpoint(max, 1100px) {
                flex-flow: column;
                position: relative;
                padding-bottom: 80px;
                .summary {
                    margin-bottom: -20px;
                    position: static;
                    .bottom-part {
                        display: none;
                    }
                    #support-project-cta {
                        bottom: 0;
                    }
                }
                .gallery {
                    order: 2;
                    margin-right: 0;
                    padding: 20px;
                    margin: -20px;
                    flex-basis: auto;
                    z-index: 3;
                    .current-image {
                        width: 100%;
                        padding-top: 71%;
                        box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
                        .swiper-wrapper {
                            position: absolute;
                            top: 0px;
                            left: 0px;
                            width: 100%;
                            height: 100%;
                            .swiper-slide {
                                .image-container {
                                    height: 100%;
                                    background-color: #FFF;
                                }
                            }
                        }
                    }
                    .author-money-mobile {
                        display: block;
                        box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
                        padding: 23px 20px 15px 20px;
                        margin: 20px 0;
                        border-radius: 12px;
                        .author {
                            font-size: 14px;
                            line-height: 22px;
                            margin-bottom: 10px;
                        }
                        .money {
                            display: flex;
                            align-items: center;
                            font-size: 16px;
                            strong {
                                margin-left: 15px;
                                font-size: 28px;
                                line-height: 42px;
                            }
                        }
                    }
                }

            }
        }
        @include breakpoint(max, 1100px) {
            padding-top: 90px;
        }
        @include breakpoint(max, lg) {
            padding-top: 60px;
        }
        @include breakpoint(max, md) {
            padding-top: 40px;
        }
    }
    section.support-project {
        margin-bottom: 50px;
        .support-box {
            background: #EAEAEA;
            border-radius: 12px;
            padding: 40px 30px;
            h2 {
                font-size: 26px;
                line-height: 30px;
                font-weight: 700;
                margin-top: 0;
                margin-bottom: 20px;
                text-transform: uppercase;
            }
            .description {
                font-size: 16px;
                font-weight: 300;
                line-height: 28px;
                margin-bottom: 40px;
            }
            .support-tiers {
                display: flex;
                flex-flow: column;
                .tier {
                    margin-bottom: 20px;
                    display: flex;
                    .title {
                        color: #FFF;
                        font-size: 26px;
                        font-weight: 700;
                        text-transform: uppercase;
                        flex: 0 0 406px;
                        height: 84px;
                        border-radius: 12px 0 0 12px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                    .details {
                        border: 1px solid #FFF;
                        border-left: 0;
                        flex: 1;
                        border-radius: 0 12px 12px 0;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        padding: 0 30px 0 16px;
                        background: #FFF;
                        .text {
                            font-size: 20px;
                            font-weight: 700;
                            display: flex;
                            align-items: center;
                            .investment-amount {
                                display: flex;
                                align-items: center;
                                font-size: 16px;
                                font-weight: 300;
                                flex: 0 0 250px;
                                .amount {
                                    font-weight: 700;
                                    font-size: 28px;
                                    flex-grow: 1;
                                    text-align: right;
                                }
                                &::after {
                                    content: '=';
                                    padding: 0 28px;
                                }
                            }
                            .investment-reward {
                                display: flex;
                                align-items: center;
                                font-size: 20px;
                                font-weight: 700;
                                .light {
                                    font-size: 16px;
                                    font-weight: 300;
                                }
                                .bigger {
                                    font-size: 28px;
                                }
                                span {
                                    margin-right: 13px;
                                    white-space: nowrap;
                                }
                            }
                        }
                    }
                    &:last-child {
                        margin-bottom: 0;
                    }
                    &.supporter {
                        .title {
                            background: $blue;
                        }
                    }
                    &.silver {
                        .title {
                            background: $yellow;
                        }
                    }
                    &.gold {
                        .title {
                            background: $green;
                        }
                    }
                    &.platinum {
                        .title {
                            background: $red;
                        }
                    }
                    @include breakpoint(max, 1336px) {
                        flex-flow: column;
                        .title {
                            flex-basis: 60px;
                            border-radius: 12px 12px 0 0;
                            font-size: 22px;
                        }
                        .details {
                            border-radius: 0 0 12px 12px;
                            padding: 20px;
                            flex-flow: column;
                            .text {
                                margin-bottom: 22px;
                                .investment-amount {
                                    flex: auto;
                                    .amount {
                                        margin-left: 15px;
                                    }
                                    &::after {
                                        padding: 0 20px;
                                    }
                                }
                            }
                        }
                    }
                    @include breakpoint(max, md) {
                        .details {
                            .text {
                                flex-flow: column;
                                .investment-reward {
                                    flex-wrap: wrap;
                                    justify-content: center;
                                    text-align: center;
                                }
                            }
                        }
                    }
                    @include breakpoint(max, sm) {
                        .details {
                            .text {
                                .investment-amount {
                                    flex-wrap: wrap;
                                    text-align: center;
                                    justify-content: center;
                                    .amount {
                                        flex-grow: 0;
                                    }
                                    &::after {
                                        flex-basis: 100%;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            @include breakpoint(max, sm) {
                padding: 30px 15px;
            }
        }
    }
    section.project-tabs {
        margin-bottom: 80px;
        .tabs {
            display: flex;
            height: 59px;
            position: relative;
            .tab {
                .title {
                    padding: 0 30px;
                    height: 100%;
                    text-transform: uppercase;
                    font-size: 16px;
                    font-weight: 700;
                    background: #EAEAEA;
                    color: $dark;
                    display: inline-flex;
                    align-items: center;
                    margin-right: 1px;
                    user-select: none;
                    cursor: pointer;
                    transition: background 250ms linear;
                    &:hover {
                        background: darken(#EAEAEA, 3%);
                    }
                }
                &.active {
                    .title {
                        background: #202020;
                        color: #FFF;
                        cursor: default;
                    }
                    .tab-content {
                        display: block;
                    }
                }
                &:first-child {
                    .title {
                        border-radius: 12px 0 0 0;
                    }
                }
                .tab-content {
                    display: none;
                    position: absolute;
                    left: 0;
                    width: 100%;
                    padding: 50px 30px 67px 30px;
                    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
                    border-radius: 0 12px 12px 12px;
                    box-sizing: border-box;
                }
            }
        }
        @include breakpoint(max, md) {
            .tabs {
                flex-flow: column;
                height: auto;
                padding-bottom: 0 !important;
                .tab {
                    margin-bottom: 20px;
                    .title {
                        width: 100%;
                        height: 50px;
                        box-sizing: border-box;
                        justify-content: center;
                        border-radius: 12px !important;
                    }
                    .tab-content {
                        position: static;
                    }
                    &.active {
                        .title {
                            border-radius: 12px 12px 0 0 !important;
                        }
                    }
                }
            }
        }
        @include breakpoint(max, md) {
            margin-bottom: 40px;
        }
    }
    section.other-projects {
        margin-bottom: 115px;
        h2 {
            font-size: 30px;
            font-weight: 700;
            text-transform: uppercase;
            margin-bottom: 50px;
        }
        .project-slider {
            .swiper {
                margin: -30px -16px;
                padding: 30px 16px;
            }
        }
    }
}
