$screen-xs: 380px;
$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;

$yellow: rgb(255, 222, 23);
$green: rgb(57, 181, 74);
$blue: rgb(0, 174, 239);
$red: #EB8E92;
$dark: #484848;
$violet: rgb(128, 65, 153);
